<h1>Bread Order</h1>
<p>1. Sourdough</p>
<p>2. Brioche</p>
<p>3. Baquette</p>
<p>4. Rye</p>
<form action="/breads" method="post">
  <label for="typeNumber">Enter the Bread Number to order: </label>
  <input id="breadType" name="typeNumber" type="text">
  <label for="quantity">Enter a number of loaves to add your order: </label>
  <input id="breadQty" name="quantity" type="text">
  <button type="submit">Submit</button>
</form>  